.cabecalho {
    align-items: center;
    display: flex;
    height: 115px;
    justify-content: center;
    width: 100vw;
}

.cabecalho__conteudo {
    display: flex;
    justify-content: space-between;
    width: 1136px;
}

.barra__de__pesquisa {
    background-color: var(--preto-5);
    border-radius: 20px;
    height: 40px;
    margin-top: 5px;
    width: 393px;
}

#texto__pesquisa {
    background-color:transparent;
    border:none;
    color: var(--preto-50);
    font-size: 14px;
    font-weight: 400;
    height: 40px;
    line-height: 16px;
    padding-left: 2%;
    position: absolute;
    width: 393px;
}

#botao__pesquisar {
    left: 90%;
    position: relative;
    top: 20%;
}

.cabecalho__direita{
    display: flex;
    height: 50px;
    justify-content: space-between;
    width: 601px;
}


#botao__login {
    background: var(--branco);
    border: solid 1px;
    color: #2A7AE4;
    font-size: 16px;
    font-weight: 400;
    height: 51px;
    line-height: 18.78px;
    padding: 16px;
    width: 182px;
}