.cabecalho {
    align-items: center;
    background-color: var(--branco);
    display: flex;
    height: 115px;
    justify-content: center;
    width: 100vw;
}

.cabecalho__conteudo {
    display: flex;
    justify-content: space-between;
    margin-left: 1%;
    width: 1136px;
}

.barra__de__pesquisa {
    background-color: var(--preto-5);
    border-radius: 20px;
    height: 40px;
    margin-left: 40px;
    margin-top: 5px;
    width: 393px;
}

.texto__pesquisa {
    background-color:transparent;
    border:none;
    color: var(--preto-100);
    font-family: "Raleway";
    font-size: 14px;
    font-weight: 400;
    height: 40px;
    line-height: 16px;
    padding-left: 2%;
    position: absolute;
    width: 393px;
}

.texto__pesquisa::placeholder {
    color: var(--preto-50);
}

.botao__pesquisar {
    left: 90%;
    position: relative;
    top: 20%;
}

.cabecalho__direita{
    display: flex;
    
    /* height: 50px;
    justify-content: space-between;
    width: 601px; */
}


.botao__login {
    background: var(--branco);
    border: solid 1px;
    color: #2A7AE4;
    font-size: 16px;
    font-weight: 400;
    height: 51px;
    line-height: 18.78px;
    margin-left: 400px;
    padding: 16px;
    width: 182px;
}

.botao__login > a {
    color: #2A7AE4;
}

.botao__login:hover{
    cursor: pointer;
}

.cabecalho__login {
    align-items: center;
    color: var(--branco);
    display: flex;
    height: 114px;
    width: 100vw;
}

.cabecalho__login--conteudo {
    display: flex;
    justify-content: space-between;
    padding-left: 115px;
    padding-right: 600px;
    width: 1136px;
}

/*TABLET*/
@media screen and (max-width: 768px){
    .cabecalho {
        height: 40px;
        padding: 16px 32px 16px 32px;
        width: 704px;
    }
    
    .cabecalho__conteudo {
        width: 768px;
        height: 72px;
        align-items: center;
    }

    .logo__alura {
        height: 28px;
        width: 100px;
    }

    .cabecalho__direita {
        align-items: center;
    }

    .texto__pesquisa {
        width: 272px;
    }

    .barra__de__pesquisa {
        height: 40px;
        margin-top: 0px;
        width: 272px;
    }

    .botao__pesquisar {
        left: 85%;
    }

    .botao__login {
        align-items: center;
        display: flex;
        font-size: 14px;
        height: 36px;
        justify-content: center;
        line-height: 16.44px;
        margin-left: 140px;
        padding: 12px 16px 12px 16px;
        text-align: center;
        width: 134px;
    }
}

/*MOBILE*/
@media screen and (max-width: 360px) {
    .cabecalho {
        align-items: center;
        height: 40px;
        justify-content: space-between;
        padding: 16px;
        width: 328px;
    }

    .cabecalho__conteudo {
        width: 360px;
    }

    .logo__alura {
        height: 28px;
        width: 100px;
    }
    
    .barra__de__pesquisa {
        background-color: transparent;
        margin-left: -30px;
    }
    
    .texto__pesquisa {
        display: none;
    }

    .botao__login {
        height: 40px;
        margin-left: -200px;
        padding: 12px 16px 12px 16px;
        width: 133px;
    }

    
}