.footer {
    background-color: var(--azul-10);
    height: 368px;
    padding: 64px;
    padding-left: 150px;
    width: 100vw;
}

.footer--conteudo {
    display: flex;
    height: 240px;
    justify-content: space-between;
    width: 1136px;
}

#footer--logo {
    padding-left: 10%;
}

.logo__links {
    display: flex;
}

.footer--links {
    display: flex;
    flex-direction: column;
    height: 234px;
    margin-left: 5%;
    margin-top: 10px;
    padding-left: 30%;
    width: 176px;
}

.footer--links--item {
    color: var(--preto-100);
    font-size: 16px;
    font-weight: 500;
    height: 19px;
    line-height: 18.78px;
    margin-bottom: 25px;
    width: 176px;
}

.footer--contato {
    display: flex;
    flex-direction: column;
    height: 300px;
    margin-left: 5%;
}

#footer--contato--titulo {
    color: var(--preto-100);
    font-size: 16px;
    font-weight: 700;
    height: 19px;
    line-height: 18.78px;
    margin-bottom: 10px;
    margin-top: 5px;
    width: 560px;
}

#footer--contato--nome {
    border: none;
    color: var(--preto-100);
    font-family: "Raleway";
    font-size: 16px;
    font-weight: 400;
    height: 56px;
    line-height: 20px;
    margin-bottom: 15px;
    padding: 0px 12px 0px 12px;
    width: 541px;
}

.footer--contato--wrap label {
    color: var(--preto-50);
    font-family: "Raleway";
    font-size: 16px;
    font-weight: 400;
    left: 0;
    line-height: 20px;
    padding-left: 15px;
    padding-top: 15px;
    pointer-events: none;
    position: absolute;
    top: 4px;
    transition: 0.3s ease all;
}

.footer--contato--wrap {
    height: auto;
    position: relative;
    width: auto;
}

.input:focus+label,
.input:valid+label {
    font-size: 12px;
    left: 12px;
    padding: 0px 10px 0px 0px;
    top: 5px;
}

#footer--contato--mensagem {
    border: none;
    color: var(--preto-100);
    font-family: "Raleway";
    font-size: 16px;
    font-weight: 400;
    height: 100px;
    line-height: 20px;
    padding: 10px 0px 0px 10px;
    width: 560px;
}

#footer--contato--mensagem::placeholder {
    color: var(--preto-50);
    font-family: "Raleway";
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    padding-left: 5px;
    padding-top: 10px;
}

#footer--contato--botao {
    background-color: var(--azul-100);
    border: none;
    color: var(--branco);
    font-family: "Raleway";
    font-size: 16px;
    font-weight: 400;
    height: 51px;
    line-height: 18.78px;
    margin-top: 20px;
    padding: 16px;
    width: 165px;
}

/*TABLET*/
@media screen and (max-width: 768px) {
    .footer {
        height: 364px;
        padding: 32px;
    }

    .logo__links {
        display: flex;
        flex-direction: column;
        height: 300px;
        width: 254px;
    }

    .footer--contato {
        height: 350px;
        margin-right: 40%;
        width: 434px;
    }

    #footer--contato--nome {
        height: 56px;
        padding-right: 0px;
        width: 434px;
    }

    #footer--contato--mensagem {
        height: 82px;
        width: 434px;
    }

    #footer--contato--botao {
        font-size: 14px;
        height: 40px;
        line-height: 16.44px;
        padding: 12px;
        width: 151px;
    }
}