.cabecalho__login {
    background-color: var(--branco);
}

.login__iniciar__sessao {
    align-items: center;
    background-color: var(--preto-5);
    display: flex;
    height: 400px;
    justify-content: center;
    padding-bottom: 40px;
    padding-top: 10px;
    width: 100vw;
}

.login__iniciar__sessao__divisao {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 291px;
    width: 423px;
}

.login__iniciar__sessao--titulo {
    color: var(--preto-100);
    font-family: "Raleway";
    font-size: 18px;
    font-weight: 700;
    height: 29px;
    line-height: 21.13px;
    width: 131px;
}

#email {
    background-color: var(--branco);
    border: none;
    border-radius: 4px;
    color: var(--preto-100);
    font-family: "Raleway";
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    height: 63.13px;
    margin-bottom: 18.5px;
    width: 423px;
}

#email::placeholder {
    color: var(--preto-50);
    font-family: "Raleway";
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    padding-left: 10px;
}

#senha {
    background-color: var(--branco);
    border: none;
    border-radius: 4px;
    height: 63px;
    margin-bottom: 18.5px;
    width: 423px;
}

#senha::placeholder {
    color: var(--preto-50);
    font-family: "Raleway";
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    padding-left: 10px;
}

#botao{
    background-color: var(--azul-100);
    border: none;
    color: var(--branco);
    font-family: "Raleway";
    font-size: 18px;
    font-weight: 600;
    height: 62px;
    line-height: 21.13px;
    width: 423px;
}

/*TABLET*/
@media screen and (max-width:768px) {
    .cabecalho__login {
        height: 40px;
        padding: 16px 32px 16px 32px;
        width: 704px;
    }

    .cabecalho__login--conteudo {
        align-items: center;
        padding-left: 0;
        width: 404px;
    }

    .logo__alura {
        height: 28px;
        width: 100px;
    }

    .login__iniciar__sessao {
        height: 231px;
        padding: 32px;
        width: 704px;
    }

    .login__iniciar__sessao__divisao {
        height: 189px;
        width: 275px;
    }

    .login__iniciar__sessao--titulo {
        font-size: 16px;
        line-height: 18.78px;
        margin: 0;
    }

    #email {
        height: 41px;
        width: 275px;
    }

    #email::placeholder {
        font-size: 16px;
        line-height: 20px;
    }

    #senha {
        height: 41px;
        width: 275px;
    }

    #senha::placeholder {
        font-size: 16px;
        line-height: 20px;
    }

    #botao {
        font-size: 14px;
        height: 40px;
        line-height: 16.44px;
        padding: 12px 16px 12px 16px;
        width: 109px;
    }
}

/*MOBILE*/
@media screen and (max-width: 360px) {
    .cabecalho__login {
        height: 40px;
        padding: 16px;
        width: 328px;
    }

    .login__iniciar__sessao {
        height: 310px;
        width: 296px;
    }

    .login__iniciar__sessao__divisao {
        height: 189px;
        width: 275px;
    }

    .login__iniciar__sessao--titulo {
        font-size: 16px;
        line-height: 18.78px;
        margin: 0;
    }

    #email {
        height: 41px;
        width: 275px;
    }

    #email::placeholder {
        font-size: 16px;
        line-height: 20px;
    }

    #senha {
        height: 41px;
        width: 275px;
    }

    #senha::placeholder {
        font-size: 16px;
        line-height: 20px;
    }

    #botao {
        font-size: 14px;
        height: 40px;
        line-height: 16.44px;
        padding: 12px 16px 12px 16px;
        width: 109px;
    }
}