.rodape {
    align-items: center;
    background-color: var(--branco);
    display: flex;
    justify-content: center;
}

.rodape--texto {
    color: var(--preto-100);
    font-family: "Raleway";
    font-size: 16px;
    font-weight: 500;
    height: 38px;
    line-height: 18.78px;
    padding: 32px;
    text-align: center;
    width: 280px;
}

/*TABLET*/
@media screen and (max-width: 768px) {
    .rodape {
        height: 102px;
        width: 100vw;
    }
}