.secao__diversos {
    height: 400px;
    margin-left: 10%;
    margin-top: 5%;
    width: 1136px;
}

#diversos--inicio {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.diversos--titulo {
    color: var(--preto-100);
    font-size: 32px;
    font-weight: 700;
    height: 38px;
    line-height: 37.57px;
    width: 148px;
}

.diversos--lista {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    padding: 0;
}

.lista--titulo {
    color: var(--preto-100);
    font-size: 14px;
    font-weight: 500;
    height: 16px;
    line-height: 16.44px;
    margin-top: 10px;
    width: 176px;
}

.lista--preco {
    color: var(--preto-100);
    font-size: 16px;
    font-weight: 700;
    height: 19px;
    line-height: 14.78px;
    margin-bottom: 5px;
    margin-top: 10px;
    width: 176px;
}

.lista--link {
    color: var(--azul-100);
    font-size: 16px;
    font-weight: 700;
    height: 19px;
    line-height: 18.78px;
    width: 91px;
}

/*TABLET*/
@media screen and (max-width: 768px) {
    .secao__diversos {
        height: 358px;
        margin-left: 4%;
        width: 100vw;
    }

    #diversos--inicio {
        height: 26px;
        margin-bottom: 3%;
        padding-right: 55px;
        width: 704px;
    }

    .diversos--titulo {
        font-size: 22px;
        height: 26px;
        line-height: 25.83px;
        width: 102px;
    }

    .diversos--lista {
        flex-wrap: wrap;
        padding-right: 55px;
    }

    .diversos--lista img {
        width: 164px;
    }

    .diversos--lista div:last-child {
        display: none;
    }

    .diversos--lista div:nth-last-child(2) {
        display: none;
    }
}