:root {
    --azul-10: #EAF2FD;
    --azul-100: #2A7AE4;
    --branco: #FFFFFF;
    --preto-5: #F5F5F5;
    --preto-50: #A2A2A2;
    --preto-100: #464646;
}

body {
    background-color: var(--preto-5);
    box-sizing: border-box;
    font-family: "Raleway";
    line-height: 1;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
}
ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
}

